* { box-sizing: border-box; }

body {
    font-family: sans-serif;
    margin: auto;
    max-width: 800px;
    padding: 0 5px;
}

header {
    line-height: 22px;
    font-size: 20px;
    font-weight: bold;
    background-color: #3e3030;
    padding: 5px;
    color: #cfcfcf;
}

.form {
    padding: 0;
}

.form__row {
    margin: 0 0 5px 0;
    padding: 0;
}

.form__label {
    display: inline-block;
    width: 20%;
}

.form__inline-input {
    display: inline-block;
    border: 1px solid #3e3030;
    font-size: 16px;
    line-height: 22px;
    width: 79%;
}

.action {
    margin: 5px 0;
}

.action__title {
    font-weight: bold;
}

.action__execute {
    border: 0;
    background-color: #3e3030;
    color: #cfcfcf;
    padding: 5px;
    font-size: 18px;
}

.item-list--empty {
    background-color: #cfcfcf;
}

.item-list__item {
    border: 1px solid #3e3030;
    border-bottom: 0;
    padding: 5px;
    position: relative;
}

.item-list__item-name {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.item-list__item-added-at {
    position: absolute;
    color: #505050;
    top: 5px;
    right: 5px;
}

.item-list__item:last-child {
    border-bottom: 1px solid #3e3030;
}
